<section >
  <h2> LISTE DES PROMOTIONS </h2>
  <button type="button" class="btn btn-circle btn-lg" [routerLink]="['/promo-add']">Add</button>
  <br/>
  <table class="table table-hover table-bordered">
    <tbody *ngFor="let promotion of promotions">
    <tr>
      <th>
        <img src='{{promotion.giphyUrl}}' width=50/>
      </th>
      <th>
        <h3>
          <a [routerLink]="['/promotion-edit', promotion.id]">{{promotion.name}}</a>
        </h3>
      </th>
    </tr>
    </tbody>
  </table>

</section>
