section{
	 margin-top: 15px;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #e33431;
  color:#eeeeee;
}

table {
  margin : 50px auto 0px;
	width: 80%;
  font-family: "Times New Roman";
}

button{
	float : right;
	margin-right : 130px;
	background-color: #e33431;
}

h2{
  font-family: "Times New Roman", Helvetica, serif;
  font-size: 15pt;
  margin-left : 50px;
}
