<h2>Etudiant List</h2>

<mat-card>
    <mat-card-header>Etudiant List</mat-card-header>
    
    <mat-card-content>
        <mat-list>

            <mat-list-item *ngFor="let etudiant of etudiants">
                <img mat-list-avatar src="{{etudiant.giphyUrl}}" alt="{{etudiant.name}}">
                <h3 mat-line>
                    <a mat-button [routerLink]="['/etudiant-edit', etudiant.id]">{{etudiant.name}}</a>
                </h3>
            </mat-list-item>

        </mat-list>
    </mat-card-content>

    <button mat-fab color="primary" [routerLink]="['/etudiant-add']">Add</button>
</mat-card>