<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
       <img src=".\assets\images\logoipi.png" alt="Smiley face" height="42" width="42">
       <a class="navbar-brand" href="#">IPI NOTES</a>
       <a class="navlink"[routerLink]="['/promo-list']">Enseignants</a>
       <a class="navlink"[routerLink]="['/etudiant-list']">Eleves</a>
      <a class="navlink"[routerLink]="['/']">Administrateur</a>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
