.navbar.fixed-top {
	height: 64px;
	background-color: #E33431;
}
a.navbar-brand{
	color:white !important;
	font-size: 20pt;
	font-weight: bold;
}
button.btn.btn-outline-light:hover{
	color:#E33431;
}
body{
	margin:0;
}