a.navbar-brand{
	color:#E33431 !important;
	font-size: 20pt;
	font-weight: bold;
}
.navlink{
  color:black;
  padding-left: 25px;
  padding-right: 25px;
}
button.btn.btn-outline-light:hover{
	color:#E33431;
}
body{
	margin:0;
}

.info-panel {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}