<mat-card>
    <form #moduleForm="ngForm" (ngSubmit)="save(moduleForm.value)">
        <mat-card-header>
            <mat-card-title><h2>{{module.id ? 'Modifier le' : 'Rajouter un'}} Module</h2></mat-card-title>
        </mat-card-header>

        <input type="hidden" *ngIf="module.id" [(ngModel)]="module.id" name="id" #name>

        <mat-card-content>
            <input type="hidden" name="href" [(ngModel)]="module.href">
            <mat-form-field>
                <input matInput autofocus placeholder="Nom du Module" [(ngModel)]="module.nom" required name="nom">
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
            [disabled]="!moduleForm.form.valid">Enregistrer</button>

            <button mat-raised-button color="secondary" (click)="remove(module.href)"
            *ngIf="module.id" type="button">Supprimer</button>

            <a mat-button routerLink="/modules-list">Annuler</a>
        </mat-card-actions>
    </form>
</mat-card>
