<div style="margin-left: -200px; margin-top:0px;">
  <hr>
  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col-sm-10"><h1>LEMON Olivier</h1></div>
    </div>
    <div class="row">

      <div class="col-sm-10 col-md-4"><!--left col-->

        <div class="panel panel-default">
          <div class="panel-heading">Promotion <i class="fa fa-link fa-1x"></i></div>
          <div class="panel-body"><a href="">U'DEV 2017/2018</a></div>
        </div>
        <ul class="list-group">
          <li class="list-group-item text-muted">Activité <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Modules</strong></span> 25</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Validés</strong></span> 13</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Non-validés</strong></span> 2</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Absences</strong></span> 1</li>
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading">Télécharger Bulletins</div>
          <div class="panel-body"><a href="">- Bulletin n°1</a></div>
          <div class="panel-body"><a href="">- Bulletin n°2</a></div>
          <div class="panel-body">
            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
          </div>
        </div>
      </div><!-- end left col -->

      <div class="col-sm-9">

      </div><!-- end col9 -->

    </div>
  </div>
</div>

