<div class="container ">

  <div class="row">
    <div class="col-sm-10"><!--left col-->
      <div class="panel panel-default">
        <div class="panel-heading">Sur le serveur ({{modules.length}} éléments)<i class="fa fa-link fa-1x"></i></div>

        <div class="panel-body" *ngFor="let module of modules">
          <a class="btn btn-info btn-xs" [routerLink]="['/modules-edit', module.id]">Modifier</a>
          <a class="navlink"[routerLink]="['/etudiant-list']">#{{module.id}} - Nom: {{module.nom}}, Matière: {{module.matiere}}</a>
        </div>
      
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success btn-md" [routerLink]="['/modules-add']">Ajouter</button>

  <div class="row">
    <div class="col-sm-10"><!--left col-->
      <div class="panel panel-default">
        <div class="panel-heading">Mes Modules<i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"> <a class="navlink"[routerLink]="['/etudiant-list']">Programmation Java: Client lourd (Riche): Techno </a></div>
        <div class="panel-body"><a href="">Programmation Java: Etats imprimés</a></div>
        <div class="panel-body"><a href="">Programmation Java: Fin projet du cours, partie B</a></div>
        <div class="panel-body"><a href="">Programmation Web Java: Architecture Multi-Tiers</a></div>
        <div class="panel-body"><a href="">Programmation Web Java: Servlets</a></div>
        <div class="panel-body"><a href="">Programmation Web Java: Interface client léger</a></div>
        <div class="panel-body"><a href="">Programmation Web Java: Finir le projet côte front</a></div>
        <div class="panel-body"><a href="">Programmation Web Java: Déploiement sur site Dist</a></div>
        <div class="panel-body"><a href="">Anglais Comparer et choisir une solution informatique</a></div>
        <div class="panel-body"><a href="">Anglais Bullats</a></div>
        <div class="panel-body"><a href="">Méthodologie du développeur: Ecrire des programmes interactifs</a></div>
        <div class="panel-body"><a href="">Méthodologie du développeur: Ecrire des programmes client/server</a></div>
        <div class="panel-body"><a href="">Méthodologie du technicien: Organiser sa veille technologique</a></div>
        <div class="panel-body"><a href="">Préparation certification SCRUM Master</a></div>
        <div class="panel-body"><a href="">Préparation certification SCRUM Product Owner</a></div>
        <div class="panel-body"><a href="">Gestion d'un domaine Active Directory: Projet</a></div>
        <div class="panel-body"><a href="">Cours CGI</a></div>
        <div class="panel-body"><a href="">Programmation Mobile: Androïd</a></div>
      </div>
    </div>
  </div>
</div>