<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

        <form class="form-signin"
            #loginForm="ngForm"
            (ngSubmit)="login(loginForm.value)">

            <span id="reauth-email" class="reauth-email"></span>
            
            <input matInput class="form-control" placeholder="Identifiant" autofocus name="user" [(ngModel)]="loginForm.username"
            required name="username" #name>
            
            <input type="password" class="form-control" placeholder="Mot de passe" required name="password" [(ngModel)]="loginForm.password">
            
            <button class="btn btn-danger" value="Login" type="submit"
            [disabled]="!loginForm.valid">Connexion</button>

            <p>{{errorMsg}}</p>
        </form>
    </div>
</div>