<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
  <title>Nouvelle promoton</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container ">
  <div class="row">
    <div class="col-sm-10"><!--left col-->
      <div class="panel panel-default">
        <div class="panel-heading">Nom de la promotion<i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body">
          <input type="text" class="form-control" name="name" id="name" placeholder="Nom de la promotion" title="enter the name of this promotion ">
        </div>
        <div class="panel-heading">Année de la promotion<i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body">
          <input type="text" class="form-control" name="year" id="year" placeholder="2018/2019" title="enter the year of this promotion">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Enregistrer</button>
      <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Réiitialiser</button>
    </div>
  </div>
</div>
</body>





<!--<div class="col-xs-6">
  <label for="name"><h4>Nom de la promotion</h4></label>
  <input type="text" class="form-control" name="name" id="name" placeholder="Name" title="enter the name of this promotion ">
</div>
<div class="col-xs-6">
  <label for="year"><h4>Année</h4></label>
  <input type="text" class="form-control" name="year" id="year" placeholder="2018" title="enter the year of this promotion">
</div>
<div class="form-group">
  <div class="col-xs-12">
    <br>
    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Enregistre</button>
    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
  </div>
</div>-->
